@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fafafa;

  color: #232529;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

.button:hover {
  scale: 120%;
}
.modal-form {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222221;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-form.show {
  opacity: 1;
}

.hidden {
  display: none;
}

.i-f-header.is-open .i-f-header-background {
  left: 0;
}
.i-f-header-button-wrapper {
  margin-left: auto;
}
.i-f-header-icon {
  display: none;
}

.i-f-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.i-f-navigation-list.is-open {
  right: 0;
}
.i-f-header-icon-menu {
  display: block;
}

.i-f-header-icon-button.is-open .i-f-header-icon-menu {
  display: none;
}

.i-f-header-icon-button.is-open .i-f-header-icon-close {
  display: block;
}

.i-f-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;

  background: transparent;
}

.i-f-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #fafafa;
}
.i-f-header.is-open .i-f-header-background {
  left: 0;
}
.i-f-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.i-f-header-icon-menu {
  display: block;
}

.i-f-header-icon-button.is-open .i-f-header-icon-menu {
  display: none;
}

.i-f-header-icon-button.is-open .i-f-header-icon-close {
  display: block;
}
.i-f-navigation {
  display: -ms-flexbox;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 375px;
  padding: 10px 12px;
  position: relative;
}

.i-f-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 24px 16px;

  gap: 24px;
  background: #fafafa;
}

.i-f-navigation-list.is-open {
  right: 0;
}

.i-f-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: #181b1d;
}

.i-f-navigation-link:hover,
.i-f-navigation-link:focus {
  color: #fb5d45;
}
.i-f-navigation-link-three {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: #fafafa;
  background: #fb5d45;

  width: 343px;
  border-radius: 10px;
  padding: 20px 0;
  display: block;
  text-align: center;
  margin-bottom: 8px;
}
.i-f-navigation-link-two {
  display: none;
}
.i-f-header.is-open {
  background-color: transparent;
}

.i-f-navigation-img {
  display: none;
}

@media screen and (min-width: 1190px) {
  .i-f-header-icon-title {
    display: none;
  }
  .i-f-header-button-wrapper {
    display: none;
  }
  .i-f-header {
    width: 1440px;
    height: 88px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    left: 50%;

    transform: translateX(-50%);
  }

  .i-f-header-background {
  }
  .i-f-header-icon-button {
    display: none;
  }
  .i-f-navigation {
    width: 1440px;
    flex-direction: row-reverse;
    flex: 1;
    align-items: center;
    display: flex;
    height: 88px;
    padding: 0 20px;
    gap: 347px;
  }

  .i-f-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: 0;
    padding-block: 0;
    flex: 1;
    gap: 50px;
    height: 0px;
    display: flex;
    justify-content: start;
    align-items: center;

    padding: 0 0px;
  }

  .i-f-navigation-link {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .i-f-navigation-link-three {
    display: none;
  }
  .i-f-navigation-link-two {
    width: 136px;
    border-radius: 50px;
    padding: 20px 23px;

    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

    text-align: center;
    color: #fafafa;
    display: block;
    background: #fb5d45;
  }

  .i-f-navigation-item-desk {
    display: none;
  }
}
.i-f-home {
  margin: auto;
  background: #edf4ff;
}
.i-f-home-container {
  width: 375px;
  height: 1237px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Home.png");
  padding: 84px 16px 0px;
  margin: auto;
}
.i-f-home-container-top {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 85px;
}
.i-f-home-title {
  display: none;
}
.i-f-home-title-two {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 128px;
  leading-trim: NONE;
  line-height: 90%;
  letter-spacing: 0%;
}
.i-f-home-text {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  padding: 0 16px;
}
.i-f-home-text-two {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;

  padding: 24px 16px 0;
}
.i-f-home-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 16px;
}
.i-f-home-link {
  border: 1px solid #fb5d45;
  background: #fb5d45;

  padding: 19px 0;
  border-radius: 50px;
  background: #fb5d45;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: #fafafa;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.i-f-home-link-two {
  color: #fb5d45;
  background: #f1d7db;
}

.i-f-home-link:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1190px) {
  .i-f-home-container {
    width: 1440px;
    height: 884px;

    background-image: url("/img/Home\ \(1\).png");
    padding: 128px 20px 0px;
    margin: auto;
  }
  .i-f-home-container-top {
    display: flex;

    align-items: center;
    gap: 24px;
    margin: 181px 24px 0 732px;
  }
  .i-f-home-title {
    display: block;
    font-family: Space Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 128px;
    leading-trim: NONE;
    line-height: 90%;
    letter-spacing: 0%;
  }
  .i-f-home-title-two {
    display: none;
  }
  .i-f-home-text {
    font-family: Space Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
  }
  .i-f-home-text-two {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
    padding: 24px 108px 0;
  }
  .i-f-home-div {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .i-f-home-link {
    width: 318px;
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}
.i-f-about {
  background: #edf4ff;
}
.i-f-about-container {
  width: 375px;
  padding: 80px 16px;
  margin: auto;
  background: #edf4ff;
}
.i-f-about-title {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  color: #747474;
}
.i-f-about-title-text {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 42px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;

  padding-top: 8px;
}
.i-f-about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-top: 40px;
}
.i-f-about-text-bold {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #747474;
}
.i-f-about-text-bold-span {
  color: #2a2a9a;
}
.i-f-about-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.i-f-about-item {
  display: flex;
  align-items: center;
  background: #d7e5ff;

  width: 343px;
  border: 1px solid #0366ff;

  padding: 23px 15px;
  border-radius: 10px;
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 52px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: capitalize;

  color: #fb5d45;
  justify-content: space-between;
}
.i-f-about-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;

  color: #747474;
  width: 140px;
}

@media screen and (min-width: 1190px) {
  .i-f-about-container {
    width: 1440px;
    padding: 100px 20px;
  }

  .i-f-about-div {
    display: flex;

    align-items: center;
    gap: 60px;
    padding-top: 80px;
  }
  .i-f-about-text-bold {
    width: 656px;
  }

  .i-f-about-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .i-f-about-item {
    width: 456px;
    border-radius: 10px;
    border-width: 1px;
    padding: 23px 15px;

    justify-content: space-between;
    width: 456;
    height: 110;
    border-radius: 10px;
    border-width: 1px;
    angle: 0 deg;
    opacity: 1;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
  }
  .i-f-about-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 142%;
    letter-spacing: 0%;

    width: 229px;
    margin-right: 20px;
  }
}
.i-f-why {
  background: #232529;
}
.i-f-why-container {
  width: 375px;
  background: #232529;

  color: #fafafa;
  margin: auto;
  padding: 80px 16px;
}
.i-f-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.i-f-why-item {
  border: 1px solid #4c4c4c;

  width: 343px;
  height: 171px;
  border-radius: 10px;
  align-items: center;
  padding: 45.5px 15px;
  gap: 16px;
  display: flex;
}
.i-f-why-text-bold {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.i-f-why-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;

  color: #9c9c9c;
  margin-top: 8px;
  height: 46px;
}
.i-f-why-img {
  width: 24px;
  height: 26px;
}
@media screen and (min-width: 1190px) {
  .i-f-why-container {
    width: 1440px;

    padding: 100px 20px;
  }

  .i-f-why-list {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
  .i-f-why-item {
    border-bottom: 1px solid #4c4c4c;
    width: 456px;
    height: 171px;
    border-radius: 10px;
    gap: 16px;
    padding: 54.5px 23px;
  }
}

.i-f-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px;
}
.i-f-uniqueness-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.i-f-uniqueness-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 23px;
  background: #f1d7db;
  border: 1px solid #fb5d45;
  height: 171px;
  border-radius: 10px;
}

.i-f-uniqueness-text-bold {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #fb5d45;
}
.i-f-uniqueness-text {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.i-f-uniqueness-text-two {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1190px) {
  .i-f-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 100px 20px;
  }

  .i-f-uniqueness-list {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .i-f-uniqueness-item {
    width: 267.20001220703125px;
    height: 171px;
    border-radius: 10px;

    gap: 8px;
  }
}

.i-f-how-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px;
}
.i-f-how-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 40px;
}

.i-f-how-item {
  background: #d7e5ff;
  border: 1px solid #0366ff;
  border-radius: 20px;
  padding: 23px 15px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.i-f-how-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #0366ff;
  padding: 2px 9px;
  border-radius: 4px;
  width: fit-content;
  border: 1px solid #0366ff;
  background: #d7e5ff;

  border-radius: 50px;
}
.i-f-how-text-bold {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #002a34;
  padding: 8px 0 4px;
}
.i-f-how-text-bold-two {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;

  color: #747474;
}
.i-f-how-img {
  width: 311px;
  height: 82px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.i-f-home-link-how {
  display: block;
}
@media screen and (min-width: 1190px) {
  .i-f-how-container {
    margin: auto;
    width: 1440px;
    padding: 100px 20px;
  }

  .i-f-how-list {
    padding-top: 80px;
    display: flex;
    padding-bottom: 80px;
    gap: 16px;
  }

  .i-f-how-item {
    padding: 23px;
    flex-direction: row;
    justify-content: space-between;
  }

  .i-f-how-img {
    width: 428px;
    height: 174px;
    border-radius: 10px;
  }
  .i-f-home-link-how {
    display: block;
    width: 231px;
    margin-left: auto;
  }
}

.i-f-characters-container {
  padding: 80px 16px;

  margin: auto;
  width: 375px;
}
.i-f-characters-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 40px;
}
.i-f-characters-item {
  border: 1px solid #0366ff;
  background: #d7e5ff;

  border-radius: 10px;

  padding: 31px;
}
.i-f-characters-text {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;

  color: #0e1116;
}
.i-f-characters-text-bold {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;

  color: #393e46;
  padding: 8px 0 32px;
}
.i-f-characters-text-bold-two {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 52px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  vertical-align: bottom;
  text-transform: capitalize;

  color: #0e1116;
}
.i-f-characters-text-bold-two-span {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  height: 20px;
  color: #515761;
}

.i-f-characters-lists {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 32px 0;
  height: 131px;
}
.i-f-characters-items {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;

  color: #393e46;
}
.i-f-char-link {
  width: 279px;
  display: block;
  padding: 19px 0;
}
@media screen and (min-width: 1190px) {
  .i-f-characters-container {
    padding: 100px 20px;
    margin: auto;
    width: 1440px;
  }

  .i-f-characters-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    padding-top: 80px;
  }
  .i-f-characters-item {
    width: 390px;
    height: 487px;

    padding: 31px;
  }

  .i-f-char-link {
    width: 326px;
    display: block;
  }
}
.i-f-sights-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 40px;
}
.i-f-sights-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: Space Grotesk;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;

  color: #002a34;
}
.i-f-sights-img {
  width: 343px;
  height: 293px;
  border-radius: 10px;
  angle: 0 deg;
  opacity: 1;

  object-fit: cover;
  object-position: center;
}

.i-f-home-link-sights {
  display: block;
  background-color: transparent;
  width: 201px;
  padding: 19px 23px;
  margin: 40px 0 0 auto;
  width: 134px;

  padding: 19px 23px;
}
@media screen and (min-width: 1190px) {
  .i-f-home-link-sights {
    margin: 80px 0 0 auto;
  }
  .i-f-sights-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-top: 80px;
  }
  .i-f-sights-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 456px;

    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-transform: capitalize;
  }
  .i-f-sights-img {
    width: 456px;
    height: 421px;
    object-fit: cover;
    object-position: center;
  }
}
.i-f-features {
  background: #f1d7db;
}
.i-f-features-container {
  width: 375px;

  margin: auto;
  padding: 80px 16px;
  background: #f1d7db;
}

.i-f-features-div {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 8px;
}

.i-f-features-div-two {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 128px;
  border-radius: 10px;

  gap: 8px;
  padding: 23px;
  border: 1px solid #fb5d45;
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}

.i-f-features-div-item-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: none;
}
.i-f-features-link {
  width: 343px;

  padding: 19px;
  display: block;
  margin-top: 32px;
}

@media screen and (min-width: 1190px) {
  .i-f-features-container {
    width: 1440px;

    margin: auto;
    padding: 100px 20px;
  }

  .i-f-features-div {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    justify-content: center;
    gap: 16px;
  }

  .i-f-features-div-two {
    width: 343.3333435058594px;
    height: 128px;

    padding: 23px;
  }

  .i-f-features-link {
    width: 284px;

    margin: 32px auto 0;
  }
}

.i-f-container {
  padding: 76px 16px 100px;
  width: 375px;
  margin: auto;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
}

.i-f-container h1 {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 52px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: capitalize;

  margin-bottom: 16px;
}

.i-f-container h2 {
  margin-top: 32px;
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.i-f-container h3 {
  margin-top: 32px;
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.i-f-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.i-f-container ul li {
  margin-bottom: 10px;
}
.i-f-container p {
  margin-top: 16px;
}
.i-f-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.i-f-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1190px) {
  .i-f-container {
    padding: 164px 20px 100px;
    width: 1440px;
    margin: auto;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 142%;
    letter-spacing: 0%;
  }

  .i-f-container h1 {
    font-family: Space Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 128px;
    leading-trim: NONE;
    line-height: 90%;
    letter-spacing: 0%;
  }

  .i-f-container h2 {
    font-family: Space Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-transform: capitalize;
  }

  .i-f-container h3 {
    font-family: Space Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-transform: capitalize;
  }
}

.i-f-footer-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px 40px;
  display: flex;
  flex-direction: column;

  gap: 60px;
  color: #fafafa;
  background: #232529;
}
.i-f-footer-div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.i-f-footer-wrapper {
  display: flex;
  flex-direction: column;
}

.i-f-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  padding: 8px 0;
}

.i-f-footer-copyright {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;

  color: #747474;
}

@media screen and (min-width: 1190px) {
  .i-f-footer-container {
    width: 1440px;
    padding: 80px 20px 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    gap: 592px;
  }
  .i-f-footer-div {
    display: flex;
    flex-direction: row;
    gap: 180px;
    align-items: end;
  }
  .i-f-footer-wrapper {
    display: flex;
  }

  .i-f-footer-text {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .i-f-footer-copyright {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }
}

.i-f-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  border: 1px solid #9c9c9c;
  background: #fafafa;

  padding: 24px 16px;
  z-index: 1000;
  display: none;
}
.i-f-cookie-popup-text {
  font-family: Space Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.i-f-cookie-popup-text-two {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;

  padding-top: 8px;
}

.i-f-cookie-button-container {
  padding: 32px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.i-f-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #fb5d45;
  background: #fafafa;

  width: 167.5px;
  border-radius: 4px;
  padding: 15px 0;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: #fb5d45;
}

#accept-cookies {
  background: #fb5d45;

  color: #fafafa;
}

.i-f-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1190px) {
  .i-f-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 133px;
  }

  .i-f-cookie-popup-text-two {
    padding-top: 16px;
    width: 837px;
  }

  .i-f-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .i-f-cookie-button {
    width: 187px;
  }
  .i-f-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px;
    display: none;
  }
}
